<header>
  <div class="header">
    <div class="container">
      <div class="header_inner">
        <a href="../../../index.html">
          <img class="logo" src="../../../assets/images/logo.jpg" routerLink="" alt="logo">
        </a>
        <nav class="nav">
          <a class="link_nav" routerLink="articles">Статьи</a>
          <a class="link_nav" routerLink="specialists">Специалистам</a>
          <a class="link_nav" routerLink="about">О нас</a>
          <a class="link_nav" routerLink="contacts">Контакты</a>
          <a class="link_nav" routerLink="login">Вход</a>
        </nav>
        <button class="header_button" routerLink="../appointment">
          Выбрать специалиста
        </button>
      </div>
    </div>
  </div>
  <hr class="hr">
</header>
